# Python / Django
venv/
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo
*.pyd
.

# Database files
*.sqlite3
*.sqlite3.backup
db.sqlite3
db.sqlite3.backup
*.sql
*.dump
db.gz
db.backup

# Environment
.env
.env.*

# Logs
*.log

# Cache
.pytest_cache/
celerybeat-schedule

# IDE / editor
.vscode/
.idea/
*.iml
.DS_Store

# Build / packaging
*.egg-info/
dist/
build/

# Backups
*.backup
